{
    "useTabs": false,
    "singleQuote": true,
    "TrailingCooma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "semi": false, 
    "arrowParens": "avoid",
    "trailingComma": "none" 
}