#App {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  filter: drop-shadow(0 0 1rem #454545);

  #Box {
    position: relative;
    width: 1200px;
    height: 900px;
    background-color: #000000;
    border: solid 5px #272727;
    overflow: auto;
  }

  #left {
    width: 15%;
    height: 900px;
    border: solid 5px #272727;
    padding-left: 10px;
    background-color: #272727;
    h4,
    span {
      color: #fff !important;
      cursor: pointer;
    }
    a {
      display: block;
      line-height: 40px;
      color: #fff;
    }
  }
}
